<app-toast></app-toast>
<section class="details-section">
  <div class="details-div">
    <div class="img-div">
      <i class="fa-solid fa-circle-chevron-left exit" (click)="exitBtn()"></i>
      <div class="main-image-container">
        <img [src]="mainImage()" alt="Main Car Image" class="main-img" />
      </div>

      @if (carImages().length > 1) {
        <div class="thumbnails-grid">
          @for (img of carImages(); track $index) {
            <div
              class="thumbnail-item"
              [class.active]="$index === selectedImgIdx()"
              (click)="selectImage($index)"
            >
              <img [src]="img" alt="Car Thumbnail" />
            </div>
          }
        </div>
      }
    </div>

    <div class="info-text">
      <div class="brand-div">
        <h2>{{ productData()?.brand }}</h2>
        <h3>{{ productData()?.model }}</h3>
      </div>

      <div class="info-div">
        <p>
          {{ 'DETAILS_PAGE.YEAR' | translate }} <strong>{{ productData()?.year }}</strong>
        </p>
        <p>
          {{ 'DETAILS_PAGE.FUEL' | translate }} <strong>{{ productData()?.fuelCapacity }}</strong>
        </p>
        <p>
          {{ 'DETAILS_PAGE.TRANSMISSION' | translate }} <strong>{{ productData()?.transmission }}</strong>
        </p>
        <p>
          {{ 'DETAILS_PAGE.MULTIPLIER' | translate }} <strong>{{ productData()?.multiplier }}</strong>
        </p>
      </div>

      <div class="price-div">
        <p>{{ 'DETAILS_PAGE.RENT_QUESTION' | translate }}</p>

        <div class="date-div">
          <p class="decrement" (click)="decrementDays()">-</p>
          <p class="day-text">{{ rentDays() }}</p>
          <p class="increment" (click)="incrementDays()">+</p>
        </div>
        <div>
          <p class="total-price">{{ 'DETAILS_PAGE.TOTAL_PRICE' | translate }} {{ totalPrice() }} ₾</p>
        </div>

        <div class="price-div">
          <p class="price-text">{{ 'DETAILS_PAGE.PRICE_PER_DAY' | translate }} {{ productData()?.price }}₾ / {{ 'DETAILS_PAGE.DAY' | translate }}</p>
        </div>

        <button (click)="sendToWhatsapp(productData())" class="rent-btn">
          {{ 'DETAILS_PAGE.RENT_BTN' | translate }}
        </button>
      </div>
    </div>
  </div>

  <div>
    <h3 class="description-title">{{ 'DETAILS_PAGE.PRICES_TITLE' | translate }}</h3>
    <ul class="price-ul">
      <li>{{productData()?.prices1}}</li>
      <li>{{productData()?.prices2}}</li>
      <li>{{productData()?.prices3}}</li>
      <li>{{productData()?.prices4}}</li>
    </ul>
  </div>

  <div>
    <h3 class="description-title">{{ 'DETAILS_PAGE.DESCRIPTION_TITLE' | translate }}</h3>
    <p class="description-text">{{ productData()?.description }}</p>
  </div>

  <div class="map-container">
    <div id="map" style="height: 100%; width: 100%;"></div>
  </div>

</section>