<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h2 class="logo">Auto Plus</h2>
      <p>თქვენ ჩაიფიქრეთ - ჩვენ აგისრულებთ!</p>
      <div class="social-icons">
        <a class="fa-brands fa-facebook-f" href="https://www.facebook.com/AutoPlus.ge" target="_blank"></a>
        <a class="fa-brands fa-instagram"></a>
        <a class="fa-brands fa-tiktok" href="https://www.tiktok.com/@autoplus_carrental" target="_blank"></a>
      </div>
    </div>

    <div class="footer-section">
      <h3>Contact</h3>
      <p>Rustavi, Megobroba St. N32</p>
      <p>Phone: (598) 71-17-17</p>
      <p>Email: rentcars.autoplus@gmail.com</p>
    </div>

    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/menu">Cars</a></li>
        <li><a routerLink="/tech">Ekskavators</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Car rental website <a href="">Auto Plus</a></p>
  </div>
</footer>

