
@if (myCars().length > 0) {
    <div class="product-cards">
  @for (car of myCars(); track car.carId || $index) {
    <div class="popular-car-card" [routerLink]="['/details', car.carId]">
      <div>
        <div>
          <h3>{{ car.carBrand }}</h3>
          <p>{{ car.carModel }}</p>
        </div>
      </div>

      <div class="card-footer">
        <div class="card-footer-item">
         <i class="fa-solid fa-city"></i>
          <span>City: {{ car.city }}</span>
        </div>

        <div class="card-footer-item">
          <i class="fa-solid fa-person"></i>
          <span>Multiplier: {{ car.multiplier }}</span>
        </div>
      </div>
      <div class="price-and-action">
        <div class="price"><span>Price Paid:</span>{{ car.pricePaid }}</div>
      </div>
    </div>
  }
  </div>
}@else {
<div class="no-cars">
  <i class="fa-solid fa-square-xmark"></i>
  <h2>No Cars Found</h2>
</div>
}
